# Created by https://www.toptal.com/developers/gitignore/api/linux,notepadpp
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,notepadpp

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### NotepadPP ###
# Notepad++ backups #
*.bak

# End of https://www.toptal.com/developers/gitignore/api/linux,notepadpp
